@model IEnumerable<cloth_corner.Models.Products>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <input type="text" id="searchBar" class="form-control" placeholder="Search for products...">
        </div>
    </div>
    <div id="productList">
        @await Html.PartialAsync("_ProductList", Model)
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchBar').on('input', function () {
                var query = $(this).val();
                $.ajax({
                    url: '@Url.Action("Search", "Home")',
                    type: 'GET',
                    data: { query: query },
                    success: function (data) {
                        $('#productList').html(data);
                    }
                });
            });
        });
    </script>
}
